@model Bakery_H.Models.UserRegistrationModel

<link rel="stylesheet" href="~/css/Register.css" />

<h1>Register</h1>

<form asp-action="Register" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Nume"></label>
        <input asp-for="Nume" class="form-control" />
        <span asp-validation-for="Nume" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Prenume"></label>
        <input asp-for="Prenume" class="form-control" />
        <span asp-validation-for="Prenume" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ProfilePicture"></label>
        <input asp-for="ProfilePicture" type="file" class="form-control" accept="image/*" />
        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
