@model Bakery_Homework.Models.Angajati

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Angajati</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAngajat" />
            <div class="form-group">
                <label asp-for="Functie" class="control-label"></label>
                <input asp-for="Functie" class="form-control" />
                <span asp-validation-for="Functie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAngajarii" class="control-label"></label>
                <input asp-for="DataAngajarii" class="form-control" />
                <span asp-validation-for="DataAngajarii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocatieId" class="control-label"></label>
                <select asp-for="LocatieId" class="form-control" asp-items="ViewBag.LocatieId"></select>
                <span asp-validation-for="LocatieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormulareAngajareId" class="control-label"></label>
                <select asp-for="FormulareAngajareId" class="form-control" asp-items="ViewBag.FormulareAngajareId"></select>
                <span asp-validation-for="FormulareAngajareId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComandaId" class="control-label"></label>
                <input asp-for="ComandaId" class="form-control" />
                <span asp-validation-for="ComandaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class="form-control" asp-items="ViewBag.userId"></select>
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
