@model IEnumerable<Bakery_Homework.DTOs.ComandaDTO>

@{
    Layout = "_Layout";
}

<h1>Comenzile tale</h1>

<div id="ordersList" class="table-responsive">
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data Comenzii</th>
                    <th>Total Platit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.DataComanda.ToString("dd-MM-yyyy")</td>
                        <td>€@order.TotalPlata</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nu aveți comenzi.</p>
    }
</div>